---
import type { BookTourTranslations } from "./book-tour.i18n";
import type { Language } from "@/lib/i18n";
import Container from "@/components/ui/Container.astro";
import PageHero from "@/components/ui/PageHero.astro";
import PrivacyGate from "@/components/ui/PrivacyGate.astro";
import { siteData } from "@/data/site";


interface Props {
  lang: Language;
  t: BookTourTranslations;
}

const { lang, t } = Astro.props;
const { channelId, experienceId } = siteData.coffeeTour.bokun;
const widgetUrl = `https://widgets.bokun.io/online-sales/${channelId}/experience/${experienceId}?partialView=1`;
---

<PageHero title={t.hero.title} subtitle={t.hero.subtitle} />

<!-- Bokun Widget -->
<section class="py-16 md:py-24 bg-background">
  <Container>
    <div class="max-w-4xl mx-auto">
      <PrivacyGate
        consentKey="bokun-consent"
        scripts={[
          "https://widgets.bokun.io/assets/javascripts/apps/build/BokunWidgetsLoader.js",
        ]}
        title={t.consent.title}
        description={t.consent.description}
        buttonLabel={t.consent.button}
      >
        <div
          class="bg-surface rounded-lg border border-border/50 p-4 min-h-[600px]"
        >
          <div class="bokunWidget" data-src={widgetUrl}></div>
        </div>
      </PrivacyGate>
    </div>
  </Container>
</section>
